.banner {
  height: 300px;
  background: #dedede;
}

.box-service {
  padding: 15px;
}

.green {
  background-color: yellowgreen;
}
.blue {
  background-color: aqua;
}
.red {
  background-color: brown;
}
